html,
body {
  width: 100%;
  height: auto;
}
html .main,
body .main {
  width: 100%;
  height: auto;
}
html .main ul,
body .main ul {
  width: 100%;
  height: auto;
  display: block;
}
html .main ul li,
body .main ul li {
  display: block;
  width: 100%;
  height: 14.4vw;
  border-bottom: 0.1333vw solid #eeeeee;
}
html .main ul li .left,
body .main ul li .left {
  width: 26.6667vw;
  height: 100%;
  float: left;
  padding-left: 4.1333vw;
  box-sizing: border-box;
  font-size: 4vw;
  font-family: PingFang SC;
  font-weight: 400;
  color: #666666;
  line-height: 14.4vw;
}
html .main ul li .right,
body .main ul li .right {
  width: 73.3333vw;
  height: 100%;
  float: right;
  line-height: 15.4vw;
}
html .main ul li .right input,
body .main ul li .right input {
  width: 80%;
  height: 90%;
  outline: none;
  border: none;
  font-weight: 400;
  color: #666666;
  font-size: 4vw;
}
html .main ul li .right input::placeholder,
body .main ul li .right input::placeholder {
  font-size: 4vw;
  font-family: PingFang SC;
  font-weight: 400;
  color: #CCCCCC;
}
html .main ul li .right .jiantou,
body .main ul li .right .jiantou {
  display: block;
  float: right;
  margin-right: 4.6667vw;
  font-size: 4vw;
}
html .main ul li:nth-child(1),
body .main ul li:nth-child(1) {
  height: 11.2vw;
  background-color: #f7f7f7;
  font-size: 4vw;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #343434;
  line-height: 11.2vw;
  text-align: center;
}
html .main ul li:nth-child(11) .right,
body .main ul li:nth-child(11) .right {
  width: 40vw;
  float: left;
}
html .main ul li:nth-child(11) .rightBtn,
body .main ul li:nth-child(11) .rightBtn {
  width: 26.6667vw;
  height: 100%;
  float: right;
  line-height: 14.4vw;
  font-size: 4vw;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #3694F6;
}
html .main ul li:nth-child(12),
body .main ul li:nth-child(12) {
  height: 22vw;
  border: none;
}
html .main ul li:nth-child(12) .left,
body .main ul li:nth-child(12) .left {
  line-height: 23.3333vw;
}
html .main ul li:nth-child(12) .right,
body .main ul li:nth-child(12) .right {
  width: 25.2vw;
  height: 9.2vw;
  background: #F7F7F7;
  border: 1px solid #3694F6;
  border-radius: 10px;
  font-size: 4vw;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #3694F6;
  text-align: center;
  line-height: 9.2vw;
  margin: 8.2667vw 4.2667vw 0 0;
}
html .main ul .inputFile,
body .main ul .inputFile {
  width: 100%;
  height: 109.7333vw;
  background-color: #f7f7f7;
  padding: 0.1333vw;
  border: none;
}
html .main ul .inputFile h2,
body .main ul .inputFile h2 {
  display: block;
  font-size: 4vw;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
  margin-top: 8.2667vw;
  margin-left: 4.4vw;
}
html .main ul .inputFile .file1,
body .main ul .inputFile .file1 {
  width: 63.6vw;
  height: 44.5333vw;
  background-image: url("../image/login_zz_pic_add@2x.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 6.6667vw auto 5.7333vw auto;
  padding: 0.1333vw;
  position: relative;
}
html .main ul .inputFile .file1 .fileInput1,
body .main ul .inputFile .file1 .fileInput1 {
  visibility: hidden;
}
html .main ul .inputFile .file1 .fileItem,
body .main ul .inputFile .file1 .fileItem {
  position: absolute;
  left: 0;
  top: 0;
  width: 63.6vw;
  height: 44.5333vw;
}
html .main ul .inputFile .file1 .fileItem .jiaIcon,
body .main ul .inputFile .file1 .fileItem .jiaIcon {
  width: 14.2667vw;
  height: 14.2667vw;
  margin: 11.4667vw auto 0 auto;
}
html .main ul .inputFile .file1 .fileItem .jiaIcon img,
body .main ul .inputFile .file1 .fileItem .jiaIcon img {
  width: 100%;
  height: 100%;
}
html .main ul .inputFile .file1 .fileItem span,
body .main ul .inputFile .file1 .fileItem span {
  display: block;
  font-size: 3.7333vw;
  font-family: Source Han Sans CN;
  font-weight: 300;
  color: #343434;
  margin: 0.8vw auto 0 auto;
  text-align: center;
}
html .main ul .inputFile .file2,
body .main ul .inputFile .file2 {
  width: 45.3333vw;
  height: 34.2667vw;
  display: block;
  margin-left: 2.2vw;
  padding: 0.1333vw;
  position: relative;
  float: left;
}
html .main ul .inputFile .file2 .fileInput2,
body .main ul .inputFile .file2 .fileInput2 {
  width: 50%;
  visibility: hidden;
}
html .main ul .inputFile .file2 .fileItem,
body .main ul .inputFile .file2 .fileItem {
  position: absolute;
  left: 0;
  top: 0;
  width: 45.3333vw;
  height: 34.2667vw;
}
html .main ul .inputFile .file2 .fileItem .bg,
body .main ul .inputFile .file2 .fileItem .bg {
  width: 100%;
  height: 28vw;
}
html .main ul .inputFile .file2 .fileItem .jiaIcon,
body .main ul .inputFile .file2 .fileItem .jiaIcon {
  width: 14.2667vw;
  height: 14.2667vw;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
}
html .main ul .inputFile .file2 .fileItem .jiaIcon img,
body .main ul .inputFile .file2 .fileItem .jiaIcon img {
  width: 100%;
  height: 100%;
}
html .main ul .inputFile .file2 .fileItem span,
body .main ul .inputFile .file2 .fileItem span {
  display: block;
  font-size: 3.7333vw;
  font-family: Source Han Sans CN;
  font-weight: 300;
  color: #343434;
  text-align: center;
  margin-top: 2.6667vw;
}
html .main ul .inputFile .file3,
body .main ul .inputFile .file3 {
  width: 45.3333vw;
  height: 34.2667vw;
  display: block;
  margin-left: 2.7333vw;
  padding: 0.1333vw;
  position: relative;
  float: right;
}
html .main ul .inputFile .file3 .fileInput3,
body .main ul .inputFile .file3 .fileInput3 {
  width: 50%;
  visibility: hidden;
}
html .main ul .inputFile .file3 .fileItem,
body .main ul .inputFile .file3 .fileItem {
  position: absolute;
  left: 0;
  top: 0;
  width: 45.3333vw;
  height: 34.2667vw;
}
html .main ul .inputFile .file3 .bg,
body .main ul .inputFile .file3 .bg {
  width: 100%;
  height: 28vw;
}
html .main ul .inputFile .file3 .jiaIcon,
body .main ul .inputFile .file3 .jiaIcon {
  width: 14.2667vw;
  height: 14.2667vw;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
}
html .main ul .inputFile .file3 .jiaIcon img,
body .main ul .inputFile .file3 .jiaIcon img {
  width: 100%;
  height: 100%;
}
html .main ul .inputFile .file3 span,
body .main ul .inputFile .file3 span {
  display: block;
  font-size: 3.7333vw;
  font-family: Source Han Sans CN;
  font-weight: 300;
  color: #343434;
  text-align: center;
  margin-top: 2.6667vw;
}
html .main ul .bottom,
body .main ul .bottom {
  width: 100%;
  height: 33.0667vw;
  background-color: #f7f7f7;
}
html .main ul .bottom .contract,
body .main ul .bottom .contract {
  width: 100%;
  height: 4vw;
  padding-top: 6.4vw;
}
html .main ul .bottom .contract .selectIcon,
body .main ul .bottom .contract .selectIcon {
  width: 4.2667vw;
  height: 4.2667vw;
  border-radius: 50%;
  border: 1px solid #9a9a9a;
  margin-left: 3.8667vw;
  margin-right: 3.8667vw;
  float: left;
}
html .main ul .bottom .contract .message,
body .main ul .bottom .contract .message {
  float: left;
  font-size: 3.4667vw;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #666666;
}
html .main ul .bottom .contract .message span,
body .main ul .bottom .contract .message span {
  color: #3694f6;
}
html .main ul .bottom .btn,
body .main ul .bottom .btn {
  width: 84.2667vw;
  height: 10.6667vw;
  background: #CCCCCC;
  border-radius: 1.3333vw;
  font-size: 4vw;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  line-height: 10.6667vw;
  margin: 6.5333vw auto 0 auto;
}
